@use "sass:map";

$grid-breakpoints: (
  xs: 0,
  sm: 37.5rem, // 600
  md: 60rem, // 960
  lg: 75rem, // 1200
  xl: 100rem // 1600
) !default;

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map.get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin conic-rainbow($offset) {

}

@mixin offset-gradient($offset) {
  background: conic-gradient(red 0% + $offset,
    #ff850a 8.33% + $offset,
    #ffc800 16.67% + $offset,
    #c3eb00 25% + $offset,
    #0f0    33.33% + $offset,
    #00e9e8 41.67% + $offset,
    #00baff 50% + $offset,
    #007fff 58.33% + $offset,
    #33f    66.67% + $offset,
    #d300b7 75% + $offset,
    #fa0080 83.33% + $offset,
    #ff004d 91.67% + $offset,
    red     100% + $offset);
}

@mixin font-icon-mobile-fix() {
  display: flex;
  align-items: end;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  padding-bottom: .5ex;
}

@mixin schemes {
  --scheme: var(--scheme-1-lch);
  --scheme-dark: var(--scheme-1-lch-dark);
  @at-root .dishwasher-page & {
    --scheme: var(--scheme-2-lch);
    --scheme-dark: var(--scheme-2-lch-dark);
  }
  @at-root .dryer-page & {
    --scheme: var(--scheme-3-lch);
    --scheme-dark: var(--scheme-3-lch-dark);
  }
  @at-root .stove-page & {
    --scheme: var(--scheme-4-lch);
    --scheme-dark: var(--scheme-4-lch-dark);
  }
  @at-root .oven-page & {
    --scheme: var(--scheme-5-lch);
    --scheme-dark: var(--scheme-5-lch-dark);
  }
  @at-root .refrigerator-page & {
    --scheme: var(--scheme-6-lch);
    --scheme-dark: var(--scheme-6-lch-dark);
  }
  --linear-gradient: linear-gradient(in oklch 90deg, oklch(var(--scheme)) 0.0%, oklch(var(--scheme-dark)) 100.0%);
  --linear-gradient-reverse: linear-gradient(in oklch 270deg, oklch(var(--scheme)) 0.0%, oklch(var(--scheme-dark)) 100.0%);
}