@use "sass:map";

$grid-breakpoints: (
  xs: 0,
  sm: 37.5rem, // 600
  md: 60rem, // 960
  lg: 75rem, // 1200
  xl: 100rem // 1600
) !default;

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map.get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin conic-rainbow($offset) {

}

@mixin offset-gradient($offset) {
  background: conic-gradient(red 0% + $offset,
    #ff850a 8.33% + $offset,
    #ffc800 16.67% + $offset,
    #c3eb00 25% + $offset,
    #0f0    33.33% + $offset,
    #00e9e8 41.67% + $offset,
    #00baff 50% + $offset,
    #007fff 58.33% + $offset,
    #33f    66.67% + $offset,
    #d300b7 75% + $offset,
    #fa0080 83.33% + $offset,
    #ff004d 91.67% + $offset,
    red     100% + $offset);
}
