@use "../../../styles/tools" as *;

.app-advantages {
  display: block;
  container: cell/inline-size;

  --scheme: var(--scheme-1-lch-middle);
  --scheme-dark: var(--scheme-1-lch-dark);
  --linear-gradient: linear-gradient(in oklch 90deg, oklch(var(--scheme) / 100%) 0.0%, oklch(var(--scheme-dark) / 100%) 100.0%);
  --linear-gradient-reverse: linear-gradient(in oklch 270deg, oklch(var(--scheme) / 100%) 0.0%, oklch(var(--scheme-dark) / 100%) 100.0%);
  
  &__wrapper {
    background: var(--linear-gradient);
    color: var(--text-inverted);
    display: grid;
    grid-template-columns: 1fr 5em;
    grid-template-rows: auto 1fr;
    padding: var(--container-padding);
    padding-top: calc(var(--container-padding) / 2);
    align-items: center;
  }

  &__title {}

  &__kv {
    justify-content: center;
    aspect-ratio: 2/3;
    align-items: center;
  }

  &__grid {
    display: grid;
    gap: var(--tile-gap);
    grid-area: 2 / 1 / 3 / 3;
  }

  &-tile {
    display: grid;
    align-items: center;
    gap: 1ex 1em;
    grid-template-columns: 2em 1fr;
    grid-template-rows: auto 1fr;

    &__mark {
      grid-row-end: span 2;
      aspect-ratio: 1 / 1;
      align-self: start;
    }

    &__title {
      align-self: end;
    }

    &__description {
      align-self: start;
    }
  }

  @container cell (min-width: 35.5rem) {
    &__wrapper {
      grid-template-columns: 13em 1fr;
      grid-template-rows: auto 1fr;
    }

    &__kv {
      grid-area: 2 / 1 / 3 / 2;
    }

    &__grid {
      grid-area: 1 / 2 / 3 / 3;
    }
  }

  @container cell (min-width: 60rem) {
    &__wrapper {
      grid-template-columns: 1fr 3fr;
    }

    &__grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}