.cookie-accept {
  display: flex;
  
  div {
    flex: 1;
    display: flex;
    background: var(--surface-accented);

    > * {
      padding: var(--container-padding);
    }

    &.leaving {
      opacity: 0;
      transition: opacity 500ms ease-out;
    }
  }

  span {
    align-self: center;
  }

  &:empty {
    display: none;
  }
}
