@use "../../styles/tools" as *;

.app-header {
  display: grid;
  align-items: center;
  width: 100%;
  grid-auto-flow: column;
  height: 4em;

  .app-logo {
    font-size: max(1.3vw, 1.3vh);
  }

  .theme-switch {
    justify-self: end;
  }

  .breadcrumbs {
    grid-area: 2/1/3/3;

    &:has(a:only-of-type) {
      display: none;
    }
  }
}