.product-collage {
  display: block;
  container: cell/inline-size;

  &__wrapper {

  }

  &__list {
    display: grid;
    gap: var(--card-gap);

    &-item {
      display: grid;
      gap: 0 1em;
      grid-template-columns: 2em 1fr;
      grid-template-rows: auto 1fr;

      svg {
        grid-row-end: span 2;
        height: auto;
      }

      &-title {
        align-self: end;
        font-weight: 600;
      }

      &-description {
        color: var(--text-secondary);
      }
    }
  }
}