@use "../../../styles/tools" as *;

.product-collage {
  container: cell/inline-size;
  position: relative;
  min-height: calc(100vh - var(--header-height));

  --scheme: var(--scheme-1-lch);
  --scheme-dark: var(--scheme-1-lch-dark);
  @at-root .dishwasher-page & {
    --scheme: var(--scheme-2-lch);
    --scheme-dark: var(--scheme-2-lch-dark);
  }
  @at-root .dryer-page & {
    --scheme: var(--scheme-3-lch);
    --scheme-dark: var(--scheme-3-lch-dark);
  }
  @at-root .stove-page & {
    --scheme: var(--scheme-4-lch);
    --scheme-dark: var(--scheme-4-lch-dark);
  }
  @at-root .oven-page & {
    --scheme: var(--scheme-5-lch);
    --scheme-dark: var(--scheme-5-lch-dark);
  }
  @at-root .refrigerator-page & {
    --scheme: var(--scheme-6-lch);
    --scheme-dark: var(--scheme-6-lch-dark);
  }
  --linear-gradient: linear-gradient(in oklch 90deg, oklch(var(--scheme)) 0.0%, oklch(var(--scheme-dark)) 100.0%);
  --linear-gradient-reverse: linear-gradient(in oklch 270deg, oklch(var(--scheme)) 0.0%, oklch(var(--scheme-dark)) 100.0%);

  @at-root :root:has(&) .breadcrumbs {
    display: none;
  }
  
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1lh var(--container-gap);
    min-height: calc(100dvh - var(--header-height));
    min-width: 100%;

    @container cell (max-width: 35em) {
      padding: 2em;
    }
  }

  @container cell (min-width: 35em) {
    & {
      min-height: calc(50vh - var(--header-height)) !important;
    }

    &__wrapper {
      min-height: calc(50dvh - var(--header-height)) !important;
    }
  }

  @include media-breakpoint-up(sm) {
    min-height: calc(50vh - var(--header-height));
    
    &__wrapper {
      min-height: calc(50dvh - var(--header-height)) !important;
    }
  }

  &-form {
    grid-column-end: span 2;
    align-self: start;
  }

  @container cell (min-width: 35em) {

    &__wrapper {
      grid-template-columns: 1fr 2fr;
    }

    &-form {
      grid-column-end: span 1;

      button {
        max-width: 50%;
      }
    }
  }

  &__title {
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: .0675ex transparent;
    text-shadow: -.125ex -.125ex color-mix(in srgb, var(--text-main) 0%, transparent);
    justify-self: start;
  }

  &__title {
    align-self: center;
  }

  &__kv {
    grid-row: 1 / 2;
    
    display: flex;
    aspect-ratio: 1 / 1;
    min-width: 4em;
    align-self: center;
    
    @container cell (min-width: 35em) {
      // grid-row: 1 / -4;
      // align-self: start;
    }

    @container cell (min-width: 58em) {
      grid-row: 1 / 3;
      align-self: start;
    }

    perspective: 800px;

    &-icon {
      flex: 1;
      background: var(--linear-gradient);
      mask-image: var(--kv-source);
      mask-size: contain;
      mask-repeat: no-repeat;
      transform: rotateY(0deg);
      transition: transform 1s;

      @starting-style {
        & {
          transform: rotateY(35deg);
        }
      }
    }
  }

  &__icon {
    
    @include font-icon-mobile-fix();
    padding-bottom: .125ex;
  }

  &__list {
    display: grid;
    align-content: start;
    gap: 1em var(--item-gap);
    grid-column: 1 / 3;

    @container cell (min-width: 35rem) {
      grid-column: 2 / 3;
    }
  }

  &__list-item {
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: var(--item-gap) 1em;

    &-icon {
      grid-row-end: span 2;
      align-self: start;
    }

    &-title {
      font-family: "Roboto Condensed", sans-serif;
    }
  }

  &__button {
    width: calc(100% - .5ex);
    border: none;
    background-image: var(--linear-gradient);
    position: relative;
    margin: .25ex;
    padding: .75em 2em;

    @container cell (min-width: 35em) {
      width: fit-content;
    }

    border-radius: .125em;

    &:after {
      background-image: var(--linear-gradient-reverse);
      content: "";
      display: block;
      position: absolute;
      inset: -0.25ex;
      z-index: -1;
      border-radius: calc(.125em + .25ex);
    }

    


    &-group {
      grid-column: 1 / 3;
      align-self: end;
      padding-bottom: 1em;

      @container cell (min-width: 35em) {
        align-self: start;
        grid-column: 2 / 3 !important;
      }

      @container cell (min-width: 58em) {
      }
    }

    @container cell (min-width: 35rem) {
      
      &-group {
        grid-column: auto;
      }
    }
  }

  &-agreement {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--item-gap);

    @at-root label#{&} {
      cursor: pointer;
    }
    
    > * {
      padding: var(--tile-padding);
      background: var(--surface-accented);
    }
    
    &__checkbox {
      display: flex;
      align-items: center;
    }

    &__text {
      align-content: center;
    }
  }

  &-form {
    display: grid;
    gap: 1em;
  }

  &-form__phone,
  &-form__name,
  &-form__name~textarea,
  &-form__name~button,
  &-form__details,
  // &__kv,
  &__title,
  &__list,
  &__button-group,
  &-agreement,
  &-agreement ~ button {

    &, &~button, &~textarea {
      animation-name: fade-in;
      animation-duration: .5s;
      opacity: 1;
      transition: transform .5s;
      transform: translateY(0);
    }

    @starting-style {
      & {
        opacity: 0;
        transform: translateY(3lh);
      }
    }
  }

  &__spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, var(--surface-main), transparent);
    color: #ff850a;

    spinner-circle {
      flex-basis: 5%;
    }
  }
}

@keyframes fade-in {
  from {
    opacity:0;
    transform: translateY(3lh);
  }
  to {
    opacity:1;
    transform: translateY(0);
  }
}
