@use "../../../styles/tools" as *;

.how-we-works {
  display: block;
  container: cell/inline-size;

  @include schemes;
  
  &__grid {
    --columns: 1;
    display: grid;
    gap: var(--tile-gap);
    grid-template-columns: repeat(var(--columns), 1fr);
  }

  @container cell (min-width: 35.5rem) {
    &__grid {
      --columns: 2;
    }
  }

  &-tile {
    display: grid;
    grid-template-columns: min(12vw, 7em) 1fr;
    align-items: center;
    background: var(--surface-accented);
    gap: 1ex;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .5em;

      svg {
        fill: oklch(var(--scheme));
        height: 7em;
      }
    }
  }
}
