// @use "../../../styles/tools" as *;

.how-we-works {
  display: block;
  container: cell/inline-size;
  
  &__wrapper {}
  
  &__grid {
    --columns: 2;
    display: grid;
    gap: var(--tile-gap);
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-rows: 1fr;
  }

  &-tile {
    display: grid;
    grid-template-columns: min(12vw, 6em) 1fr;
    align-items: center;
    background: var(--surface-accented);

    &__icon {
      font-family: "Products4";
      font-size: min(8vw, 4em);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .25ex;

      // @include offset-gradient(10%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

    }
  }
}