// @use "../../../styles/tools" as *;

.how-we-works {
  display: block;
  container: cell/inline-size;

  --scheme: var(--scheme-1-lch);
  --scheme-dark: var(--scheme-1-lch-dark);
  --linear-gradient: linear-gradient(in oklch 90deg, oklch(var(--scheme)) 0.0%, oklch(var(--scheme-dark)) 100.0%);
  --linear-gradient-reverse: linear-gradient(in oklch 270deg, oklch(var(--scheme)) 0.0%, oklch(var(--scheme-dark)) 100.0%);
  
  &__wrapper {}
  
  &__grid {
    --columns: 2;
    display: grid;
    gap: var(--tile-gap);
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-rows: 1fr;
  }

  &-tile {
    display: grid;
    grid-template-columns: min(12vw, 6em) 1fr;
    align-items: center;
    background: var(--surface-accented);
    min-height: 7em;

    &__icon {
      font-family: "Products4";
      font-size: min(8vw, 4em);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .25ex;

      background: var(--linear-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

    }
  }
}