.login-cell {
  display: flex;
  flex: 1;

  button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    // padding: min-max(1em, 5vw) 1em;
    padding-top: 1ex;
    padding-bottom: 1ex;
    padding-right: clamp(1rem, 5vw, 3rem);
    padding-left: clamp(1rem, 5vw, 3rem);
  }
}