@use "styles/tools" as *;

.app-root {
  display: block;
}

:root {
  &, &[data-theme='light dark'] { color-scheme: light dark; }
  &[data-theme='light'] { color-scheme: light; }
  &[data-theme='dark'] { color-scheme: dark; }

  --breakpoint-sm: 37.5rem; // 600
  --breakpoint-md: 60rem; // 960
  --breakpoint-lg: 75rem; // 1200
  --current-max: var(--breakpoint-sm);
  --max-container: calc(var(--current-max) - 2rem);

  @include media-breakpoint-up(md) {
    --current-max: var(--breakpoint-md);
  }

  @include media-breakpoint-up(lg) {
    --current-max: var(--breakpoint-lg);
  }

  @include media-breakpoint-up(xl) {
    font-size: 1vw;
  }
}

*, *:after, *:before {
  box-sizing: border-box;
}

html,
input,
textarea,
select,
button {
  font-family: sans-serif;
}

body {
  margin: 0;

}

.container {
  max-width: var(--max-container);
  margin-left: auto;
  margin-right: auto;
}
