@use "styles/tools" as *;

@font-face {
  font-family: "Products4";
  src: url("/icons4.ttf") format("truetype");
}

.app-root {
  display: block;
}

:root {
  & { color-scheme: light; }
  &[data-theme='light dark'] { color-scheme: light dark; }
  &[data-theme='light'] { color-scheme: light; }
  &[data-theme='dark'] { color-scheme: dark; }

  
  

  --surface-light: #fefefe;
  --surface-dark: #0e0e0e;
  --surface-accented-light: #efefef;
  --surface-accented-dark: #181818;

  --text-main-light: #080808;
  --text-secondary-light: #111111;
  --text-main-dark: #f8f8f8;
  --text-secondary-dark: #dedede;

  // --surface-light: 254, 254, 254;           // #fefefe
  // --surface-dark: 14, 14, 14;               // #0e0e0e
  // --surface-accented-light: 239, 239, 239;  // #efefef;
  // --surface-accented-dark: 17, 17, 17       // #111111;

  // --text-main-light: 8, 8, 8                // #080808;
  // --text-secondary-light: 17, 17, 17;       // #111111
  // --text-main-dark: 248, 248, 248;          // #f8f8f8
  // --text-secondary-dark: 238, 238, 238;     // #eeeeee;
  --current-scheme-lch: var(--scheme-1-lch);
  --current-scheme-lch-dark: var(--scheme-1-lch-dark);
  
  --scheme-1-lch: 0.787 0.167 71;
  --scheme-1-lch-middle: 0.687 0.167 71;
  --scheme-1-lch-dark: 0.587 0.167 71;
  --scheme-1-hash: #fba40e;
  --scheme-1-hash-dark: #fba40f;

  --scheme-2-lch: 0.65 0.22 155;
  --scheme-2-lch-dark: 0.5 0.2 140;
  --scheme-2-hash: #c0fa15;
  --scheme-2-hash-dark: #c0fa15;
  --scheme-3-lch: 0.6 0.16 238;
  --scheme-3-lch-dark: 0.4 0.15 220;
  --scheme-3-hash: #1ffdea;
  --scheme-4-lch: 0.4 0.14 265;
  --scheme-4-lch-dark: 0.25 0.08 250;
  --scheme-4-hash: #20c2ff;
  --scheme-5-lch: 0.427 0.151 295;
  --scheme-5-lch-dark: 0.283 0.127 295;
  --scheme-5-hash: #d410fc;
  --scheme-6-lch: 0.6 0.22 40;
  --scheme-6-lch-dark: 0.3 0.15 25;
  --scheme-6-hash: #fd193f;

  @mixin light-scheme {
    --surface-main: var(--surface-light);
    --surface-accented: var(--surface-accented-light);
    --surface-inverted: var(--surface-accented-dark);
    --text-main: var(--text-main-light);
    --text-secondary: var(--text-secondary-light);
    --text-inverted: var(--text-main-dark);
  }

  @mixin dark-scheme {
    --surface-main: var(--surface-dark);
    --surface-accented: var(--surface-accented-dark);
    --surface-inverted: var(--surface-accented-light);
    --text-main: var(--text-main-dark);
    --text-secondary: var(--text-secondary-dark);
    --text-inverted: var(--text-main-light);
  }

  @include light-scheme;

  @media (prefers-color-scheme: dark) {
    @include dark-scheme;
  }

  @media (prefers-color-scheme: light) {
    @include light-scheme;
  }

  &[data-theme='dark'] {
    @include dark-scheme;
  }

  &[data-theme='light'] {
    @include light-scheme;
  }

  --breakpoint-sm: 37.5rem; // 600
  --breakpoint-md: 60rem; // 960
  --breakpoint-lg: 75rem; // 1200
  --current-max: var(--breakpoint-sm);
  --max-container: calc(var(--current-max) - 2rem);
  --max-popup-width: 100%;
  --header-height: 6em;

  --tile-padding: 1em;
  --card-padding: 1.5em;
  --container-padding: 2em;
  --tile-gap: min(2vw, 1em);
  --item-gap: .5ex;
  --card-gap: .5em 1em;
  --container-gap: 3em;

  @include media-breakpoint-up(md) {
    --current-max: var(--breakpoint-md);
    --max-popup-width: var(--breakpoint-sm);
    --item-gap: 1ex;
    --container-gap: 4em;
  }

  @include media-breakpoint-up(lg) {
    --current-max: var(--breakpoint-lg);
    --max-popup-width: var(--breakpoint-md);
    --container-gap: 3em;
  }
  
  @include media-breakpoint-up(xl) {
    --item-gap: 1.5ex;
    --container-gap: 8em;
  }

  font-size: clamp(.75rem, 1vw, 1.25rem);
}

*, *:after, *:before {
  box-sizing: border-box;
}

html,
input,
textarea,
select,
button {
  font-family: sans-serif;
}

body {
  margin: 0;

}

button {
  cursor: pointer;
  border: none;
  background-color: oklch(var(--scheme-1-lch) / 10%);
  color: currentColor;
}

.container {
  max-width: var(--breakpoint-lg);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1ex;
  padding-right: 1ex;
}

popup-host {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: color-mix(in srgb, var(--surface-inverted) 45%, transparent);
  display: grid;
  justify-content: center;
  overflow: auto;

  > *:first-child {
    max-width: var(--max-popup-width);
    align-self: end;

    @include media-breakpoint-up(md) {
      align-self: center;
    }
  }

  @at-root body:has(&) {
    overflow: hidden;
  }
}

svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  fill: currentcolor;

  &:has(symbol) {
    display: none;
  }
}

.h1 {
  font-weight: 700;

  &.with-mt {
    margin-block-start: .67em;
  }

  &.with-mb {
    margin-block-end: .67em;
  }
}

.h2 {
  font-weight: bold;

  &.with-mt {
    margin-block-start: .83em;
  }

  &.with-mb {
    margin-block-end: .83em;
  }
}

.h3 {
  font-weight: bold;

  &.with-mt {
    margin-block-start: 1em;
  }

  &.with-mb {
    margin-block-end: 1em;
  }
}

h1, h2, h3 {

  &.with-mb {
    margin-block-start: 0;
  }
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
}

h1, .h1 {
  font-size: 2em;
}

h2, .h2 {
  font-size: 1.5em;
}

h3, .h3, button {
  font-size: 1.125em;
}

button,
input[type=text],
input[type=number],
input[type=password],
textarea {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.5em;
  padding: .5ex;

  &[disabled] {
    opacity: .5;
  }
}

button {
  font-weight: 500;
}

