.manager-template {

  &__header {
    display: grid;
    gap: 2rem;
    align-items: center;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    gap: 1rem;
    align-items: center;

    &-item {

      &_active {
        text-shadow: .1em .05em .05em color-mix(in srgb, var(--text-main), transparent);
      }
    }
  }

  &__breadcrumbs {
    grid-column-end: span 2;
  }
}