.popup-component {

  &__window {
    position: relative;
    transition: transform .35s cubic-bezier(0, .75, .25, 1);
    transform: translateY(0);
    background: var(--surface-main);
    border: none;
    padding: 1em 2em;

    @starting-style {
      & {
        transform: translateY(-100%);
      }
    }
  }

  &__close {
    background: transparent;
    border: none;
    position: absolute;
    right: .5em;
    top: .5em;
    width: 2em;
    height: 2em;
  }

  @media (pointer: coarse) {

    @supports (scroll-snap-type: y mandatory) {
  
      &__slider {
        scroll-snap-type: y mandatory;
        overscroll-behavior-y: contain;
        width: 100%;
        height: 100%;
        overflow-y: auto;
      }
  
      &__slide {
        width: 100%;
        scroll-snap-align: center;
      }
  
      &__empty-slide {
        height: 100%;
        scroll-snap-align: center;
      }
    }
  }
}
