.site-template {
  display: grid;
  height: 100dvh;
  // grid-template-rows: auto 1fr auto;


  router-outlet {
    height: 0;
    position: absolute;
  }


  [class*=-page] {

    &.container {
      width: 100%;
    }
    
    > .section {
      margin-block-start: var(--container-gap);
      margin-block-end: var(--container-gap);
    }
  }

  app-header {
    align-self: start;
  }

  footer-component {
    align-self: end;
  }
}